<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/topbar %>
        <% include ../partials/nav %>
        <div class="main-panel">
        <div class="content-wrapper">
        <div class="row">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hired!</h4>
                <p class="card-description">You have successfully executed the smart contract and hired the ratman for the job.</p>
        <img src="images/image.png" />
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

        <% include ../partials/footer %>
    </body>
</html>