<!--

[
    {
        "LocationID" : "KIR-2393422",
        "Contracts" : 
        [
            {
                "LicenseType" : "Rodent Removal",
                "ProposedRate" : "$5.00"
            }
        ]
    }
]

-->

<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/topbar %>
        <% include ../partials/nav %>
        <div class="main-panel">
        <div class="content-wrapper">
        <div class="row">
        <div class="card">
        <div class="card-body">
            <h4 class="card-title">Available Resources</h4>
                <p class="card-description">Here are the available resources to complete your job.</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Resource Number</th>
                        <th></th>
                        <th>LicenseType</th>
                        <th>ProposedRate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% var i = 1; %>
                    <% contracts.forEach(function(contract) {%>
                        
                      <tr>
                          <td><%= i %></td>
                          <td style="color: red">New Resource</td>
                          <td><%= contract.LicenseType %></td> 
                          <td><%= contract.ProposedRate %></td> 
                          <td>
                            <button type="button" class="btn btn-primary btn-fw">Contact</button>
                            <button type="button" class="btn btn-secondary btn-fw">Ignore</button>
                        </td>
                        </tr>
                    <% i++;}); %>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

        <% include ../partials/footer %>
    </body>
</html>