<!--

"LocationID" : "TAC-3284291",
		"Location" : "123 Main St, Tacoma WA",
		"TrapAmount" : "10",
		"Value" : "$10.00 ",
		"Status" : "ASSIGNED"

-->

<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/topbar %>
        <% include ../partials/nav %>

        <!-- Insert HTML fields here-->

        <% include ../partials/footer %>
    </body>
</html>